body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Imagem/plano_de_fundo.png);
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    color: #f4f4f4;
    overflow-x: hidden;
    
}

/* CABEÇALHO*/
header{
    background-color: #333;
    padding-top: 10px;
    display: flex;
  
}

.header-container h1{
    position: relative;
    top: 2rem;
    margin: 10px;
}

.header-container h2{
  position: relative;
  top: 5px;
  left: 5rem;
  color: #007BFF;
}

.header-container{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo img{
    max-width: 100px;
    height: 100px;
    position: relative;
    left: 8px;
    border: 2px solid #222;
    margin: 5px;
}

.login{
  display: flex;
  gap: 40px;
  position: relative;
  left: 760px;
  top: 2.5rem;

}

#emoji_login{
  font-size: 40px;
  padding-top: 0.5rem;
  position: relative;
  left: 780px;
  top: 2rem;
}

/*Barra de Pág*/
.menu{
    list-style-type: none; /* Remove as bolinhas */
    padding: 0; /* Remove o padding */
    display: flex; /* Alinha os itens na horizontal */ 
    position: relative;
    left: 900px;
    
}

.menu a{
    text-decoration: none;
    color: #f4f4f4;
}

.menu li {
    margin-right: 50px; /* Dá espaçamento entre os itens */
    
  }

  .banner{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #333;
    width: 500px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    left: 50px;
    top: 25px;

  }

  .btn-ins {
    background-color: #007BFF; /* azul chamativo */
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-ins:hover {
    background-color: #0056b3; /* cor ao passar o mouse */
  }

  footer{
    background-color: #333;
  }

  /* Responsividade para telas pequenas */
@media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-info {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

